.header {
  display: flex;
  align-items: center;
  background-color: #204161;
  font-family:Verdana, Geneva, Tahoma, sans-serif
  border: 3px solid #1761A0;
  padding: 1em;
  margin: 1em;
}

.title {
  display: flex;
  margin: auto;
  padding: 1em;
  border: 3px solid black;
  color: black;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

/* img {
  height: 15em;
  width: 15em;
  border-radius: 8px;
} */

.main {
  display:flex;
  flex-wrap: wrap;
  font-family: Verdana, Geneva, Tahoma, sans-serif
}

.right {
  flex: 1;
  margin: 1em;
  border: black 3px dotted;
}

.left {
  flex: 3;
  margin: 1em;
  border: black 3px solid;
}

.header--book__tips {
  margin: 1em;
  text-align: center;
  border: black 3px solid;
}

.footer {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif
  border: 3px dotted black;
}
.jackie-books {
  display: flex;
  justify-content: center;
}

.header--book {
  margin: 1em;
  text-align: center;
}

.jackie-book {
  border: 3px solid black;
  margin: 1em;
  padding: 1em;
  text-align: center;
}

.header--quotes {
  margin: 1em;
  text-align: center;
}

.quotes--block {
  background-color: #204161;
  margin: 1em;
  padding: 1em;
  border: 3px solid black;
}
.section--quotes {
  text-align: center;
  margin: auto;
  justify-content: center;
}

.quotes {
  border: 3px dotted black;
  margin: 1em;
  padding: 1em;
  font-style: italic;
  background-color: white;
}

.header--books {
  margin: 1em;
  text-align: center;
}

.section--books {
  display: flex;
  flex-shrink: 3;
  text-align: center;
  justify-content: center;
}

.books {
  border: 3px dotted black;
  margin: 1em;
  padding: 1em;
}

.join {
  border-style: solid dotted;
  border-color: rgb(185, 185, 235);
  border-width: 5px;
  padding-bottom: 20px;
  width: 35%;
}

.name-box {
  width: 60%;
}

.email-box {
  width: 60%;
}

.button2 {
  font-size: 1em;
  padding: 10px;
  color: black;
  border: 2px solid black;
  border-radius: 25px/20px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}
.button2:hover {
  background: rgb(32, 143, 247);
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background:beige;
  transition: opacity;
  visibility: hidden;
  opacity: 0;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
