@import './darkmode.css';
@import './blake.css';
@import './colin.css';
@import './jackie.css';
@import './melody.css';

a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20em;
  }

  /* title logo and top join button */
  img {
    width: 20%;
    height: 10%;
    position: static;

  }
  .top-button {
    background-color: white;
    padding: .1px 30px;
    border-color: black;
    cursor: pointer;
    font-family:;
}

.top-button:hover {
    background: green;
}
/* email and name box, bottom button, and pop up message */
  .join {
    border-style: solid dotted;
    border-color: rgb(185, 185, 235);
    border-width: 5px;
    padding-bottom: 20px;
    width: 35%;

  }

  .name-box {
    width: 60%;
  }

  .email-box {
    width: 60%;
  }

  .button2 {
    font-size: 1em;
    padding: 10px;
    color: black;
    border: 2px solid black;
    border-radius: 25px/20px;
    cursor: pointer;
    transition: all 0.3s ease-out;
  }
  .button2:hover {
    background: rgb(32, 143, 247);
  }

  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background:beige;
    transition: opacity;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }

  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    width: 30%;


  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    color: #333;
  }

