@import './darkmode.css';
/* do I actually need to these imports in main? I don't know */
<<<<<<< HEAD
/* @import './blake.css';
@import './colin.css';
@import './jackie.css';
@import './melody.css'; */

=======
/* aside buttons below */
>>>>>>> 1007f5a97c15fbc1cb7b3df682d99be048443eb9
a {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 20em;
    color: green;

  }
  .aside {
      display: flex;
      flex-direction:column;
      float: right;
      justify-content: space-around;
      
  }

  .asidebutton {
      cursor: pointer;
      padding: 15px 25px;
      font-size: 24px;
      text-align: center;
      outline: none;
      color: #fff;
      background-color: #4caf50;
      border: none;
      border-radius: 15px;
      box-shadow: 0 9px #999;
      justify-content: space-between;
      margin: 10px;
  }

/* positioning for header image */
.imagelogo {
  width: 20%;
  height: 10%;
  position: relative;
  top: -230px;
}

.top-button {
  background-color: white;
  padding: .1px 30px;
  border-color: black;
  cursor: pointer;
  position: relative;
  top: -450px;
  padding: 5px;
  border-radius: 20px;
}

/* top botton changes color when mouse hovers */
.top-button:hover {
  background: #ebc727;
}

.line-image {
  width: 100%;
  height: auto;
  position: relative;
  top: 50px;
}

.left-book-image {
  display: flex;
  float: left;
  position: relative;
  top: -2px;
  left: -20px;
  margin: 0px, 20px;
}

/* email and name box, bottom button, and pop up message */
.info-box {
  border-style: double dashed;
  border-color: #425892;
  border-width: 8px;
  padding-bottom: 20px;
  width: 40%;
  font-family: times;
}

.name-box {
  width: 60%;
}

.email-box {
  width: 60%;
}

/* bottom join button */
.button2 {
  font-size: 1em;
  color: black;
  border: 2px solid black;
  border-radius: 20px;
  width: 70px;
  cursor: pointer;
  transition: all 0.3s ease-out;
}

.button2:hover {
  background: #6479b4;
}

.right-book-image {
display: flex;
float: right;
position: relative;
top: -235px;
right: -430px;
}

/* message box pop up */
.overlay {
  position: fixed;
  top: 90px;
  bottom: 410px;
  left: 410px;
  right: 410px;
  border-radius: 20px;
  background:#485b8f;
  color: white;
  font-family: "courier new";
  visibility: hidden;
  opacity: 1;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}

.box {
  width: 70%;
}

.popup .close {
  position: absolute;
  top: 10px;
  left: 5px;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: white;
}


.footer {
  position: relative;
  top: 100px;px;
  font-family: times;
  color: #486b8f;
  justify-content: space-evenly;
 }
